<script setup lang="ts">
import {ref, onMounted, nextTick, watch} from 'vue';
import SimpleKeyboard from '@/components/SimpleKeyboard/SimpleKeyboard.vue';
import DefaultButton from '@/components/Common/DefaultButton.vue';
import RemoveDevice from '@/components/Modals/RemoveDevice.vue';
import {useDevices} from '@/store/devices';
import {useModal} from '@/store/modal';
import type {ComponentPublicInstance} from 'vue';
import {DevicesModel} from '@/types/Devices.model';
import {KeyCodeEnum} from '@/enum/keyCode.enum';

const input = ref<any | null>(null);
const keyboard = ref<HTMLDivElement | null>(null);
const showKeyboard = ref<Boolean>(false);
const inputElement = ref<HTMLInputElement | null>(null);
const buttonSave = ref<ComponentPublicInstance | null>(null);

const deviceStore = useDevices();
const modalStore = useModal();

let currentDeviceName = '';

const currentItem = ref<DevicesModel | undefined>(undefined);

const onChange = (inputValue: HTMLInputElement) => {
  if (inputElement.value) {
    inputElement.value.setSelectionRange(inputElement.value.value.length, inputElement.value.value.length);
  }
  input.value = inputValue;
}

const onKeyPress = (button: string) => {
  if (buttonSave.value && button === '{done}') {
    buttonSave.value.$el.focus();
    showKeyboard.value = false;
  }
}

const onInputChange = (inputValue: any) => {
  input.value = inputValue.target.value;
}

const inputFocus = () => {
  showKeyboard.value = true;
  if (inputElement.value) {
    nextTick(() => {
      if (inputElement.value) {
        inputElement.value.setSelectionRange(inputElement.value.value.length, inputElement.value.value.length);
      }
    });
    inputElement.value.focus();
  }
}

const blurFocus = () => {
  showKeyboard.value = false;
}

const removeDevice = () => {
  modalStore.mutations.open(RemoveDevice);
}

const backToDevices = () => {
  deviceStore.state.value.updateList = currentDeviceName !== input.value;
  window.location.hash = '#/';
}

const updateDeviceName = () => {
  if (currentItem.value) {
    deviceStore.mutations.updateItem(currentItem.value.id, input.value);
    deviceStore.state.value.updateList = false;
  }

  window.location.hash = '#/';
}

onMounted(() => {
  setTimeout(() => {
    inputFocus();
  }, 100);

  currentItem.value = deviceStore.getters.getCurrentItem();
  currentDeviceName = currentItem.value ? currentItem.value.label : '';

  if (currentItem.value) {
    input.value = currentItem.value.label;
  }

  if (inputElement.value) {
    inputElement.value.addEventListener('keydown', (e) => {
      const code = e.code || e.key;
      if (code !== KeyCodeEnum.TAB && code !== KeyCodeEnum.BACKSPACE) {
        e.preventDefault();
      }
    });
  }
});

watch(modalStore.state.value, (value) => {
  if (!value.isOpen && buttonSave.value) {
    buttonSave.value.$el.focus();
  }
});
</script>

<template>
  <div class="edit flex justify-center overflow-hidden w-screen relative h-screen pt-[10vh]">
    <div class="w-[70vw] max-w-[980px] text-center">
      <div class="text-[6vh] font-co-text-bold mb-[1vh]">
        {{ $t('editDevice') }}
      </div>

      <div class="text-[3vh] font-co-text-bold mb-[6vh] text-[rgba(238,238,238,0.7)]">
        {{ $t('editDeviceDescription') }}
      </div>

      <div class="flex mb-[4vh] text-start">
        <div class="flex-1">
          <div class="image-bg flex items-center justify-center w-[70%] h-[25vh] mb-[1vh] rounded">
            <img
                v-if="currentItem && currentItem.deviceType"
                :src="require(`@/assets/icons/icon-${currentItem.deviceType}.svg`)"
                class="w-[15vh]"
                alt=""
            >
          </div>
          <div v-if="currentItem" class="text-[3vh]">
            {{ currentItem.label }}
          </div>
        </div>
        <div class="flex-1">
          <label class="block relative">
            <span class="block absolute left-[2vw] top-[1vh] text-[2vh] text-[rgba(238,238,238,0.7)]">{{ $t('deviceName') }}</span>
            <input
                v-model="input"
                @input="onInputChange"
                @focus="inputFocus"
                @blur="blurFocus"
                class="input text-transparent [text-shadow:_0_0_1px_#ffffff] bg-transparent text-[3vh] border border-[rgba(238,238,238,0.50)] rounded h-[6vh] w-full p-[7vh_2vw_3vh_2vw] placeholder-white outline-0 transition duration-500"
                ref="inputElement"
            >
          </label>
        </div>
      </div>

      <div>
        <DefaultButton @click="updateDeviceName" ref="buttonSave" :label="$t('buttonSave')" class="ml-0"/>
        <DefaultButton @click="backToDevices" :label="$t('buttonBack')" theme="secondary" class="ml-0"/>
        <DefaultButton @click="removeDevice" theme="secondary" :label="$t('buttonDeleteDevice')" class="mx-0"/>
      </div>
    </div>

    <div
        ref="keyboard"
        :class="{'keyboard show': showKeyboard, 'keyboard p-0': !showKeyboard}"
        class="keyboard absolute w-full bottom-0 left-0 transition duration-300"
    >
      <div class="max-w-[1024px] mx-auto">
        <Transition
            enter-from-class="opacity-0"
            leave-to-class="opacity-0"
            enter-active-class="transition duration-300"
            leave-active-class="transition duration-300">
          <SimpleKeyboard
              v-if="showKeyboard"
              @onChange="onChange"
              @onKeyPress="onKeyPress"
              :input="input"
          />
        </Transition>
      </div>
    </div>
  </div>
</template>

<style lang="css" scoped>
.keyboard {
  transform: translateY(25vh);
  padding: 0;
  -webkit-box-shadow: 0 0 10px 15px rgba(0,0,0,.3);
  box-shadow: 0 0 10px 15px rgba(0,0,0,.3);
  background-color: #191C22;
}
.keyboard.show {
  transform: translateY(0);
  padding: 2vh;
}
.input:focus {
  -webkit-box-shadow: 0 0 0.9vw 0.9vw hsla(0,0%,100%,.25);
  box-shadow: 0 0 0.9vw 0.9vw hsla(0,0%,100%,.25);
}
.image-bg {
  background: #1A1A1A;
}
</style>