<script lang="ts" setup>
import {ref, onMounted} from 'vue';
import type {ComponentPublicInstance} from 'vue';
import DefaultButton from '@/components/Common/DefaultButton.vue';

const buttonClose = ref<ComponentPublicInstance | null>(null);

const keyCode = ref(null)

const buttonBack = () => {
  if (buttonClose.value && buttonClose.value.$el) {
    return window.close();
  }
};

onMounted(() => {
  setTimeout(() => {
    if (buttonClose.value && buttonClose.value.$el) {
      buttonClose.value.$el.focus();
    }
  }, 300)
});
</script>

<template>
  <div class="text-center">
    <div class="text-[5vh] font-co-text-bold mb-[2vh]">
      {{ $t('genericError') }}

      {{ keyCode }}
    </div>
    <div class="text-[3vh] text-[rgba(238,238,238,0.7)] font-co-text mb-[4vh]" v-html="$t('genericErrorDescription')" />
    <div>
      <DefaultButton
          ref="buttonClose"
          @click="buttonBack()"
          :label="$t('buttonOk')"
      />
    </div>
  </div>
</template>