<script lang="ts" setup>
import {ref, onMounted} from 'vue';
import type {ComponentPublicInstance} from 'vue';
import DefaultButton from '@/components/Common/DefaultButton.vue';
import {useModal} from '@/store/modal';
import {KeyCodeEnum} from '@/enum/keyCode.enum';

const modalStore = useModal();
const buttonClose = ref<ComponentPublicInstance | null>(null);

onMounted(() => {
  setTimeout(() => {
    if (buttonClose.value && buttonClose.value.$el) {
      buttonClose.value.$el.focus()
    }
  }, 300);

  if (buttonClose.value && buttonClose.value.$el) {
    buttonClose.value.$el.addEventListener('keydown', (event: KeyboardEvent) => {
      const code = event.key || event.code;
      if (code === KeyCodeEnum.TAB && event.shiftKey ||
          code === KeyCodeEnum.ARROW_UP ||
          code === KeyCodeEnum.ARROW_DOWN ||
          code === KeyCodeEnum.ARROW_LEFT ||
          code === KeyCodeEnum.ARROW_RIGHT
      ) {
        event.preventDefault();
        if (buttonClose.value && buttonClose.value.$el) {
          buttonClose.value.$el.focus();
        }
      }
    });
  }
});
</script>

<template>
  <div class="text-center">
    <div class="text-[5vh] font-co-text-bold mb-[2vh]">
      {{ $t('deviceLimit') }}
    </div>
    <div class="text-[3vh] text-[rgba(238,238,238,0.7)] font-co-text mb-[4vh]" v-html="$t('deviceLimitDescription')" />
    <div>
      <DefaultButton
          ref="buttonClose"
          @click="modalStore.mutations.close()"
          :label="$t('buttonOk')"
      />
    </div>
  </div>
</template>