<script lang="ts" setup>
import {ref, onMounted} from 'vue';
import type {ComponentPublicInstance} from 'vue';
import DefaultButton from '@/components/Common/DefaultButton.vue';
import {useDevices} from '@/store/devices';
import {useModal} from '@/store/modal';
import {KeyCodeEnum} from '@/enum/keyCode.enum';

const modalStore = useModal();
const deviceStore = useDevices();

const buttonCancel = ref<ComponentPublicInstance | null>(null);
const buttonRemove = ref<ComponentPublicInstance | null>(null);

const removeDevice = () => {
  const currentItem = deviceStore.getters.getCurrentItem();

  if (currentItem) {
    deviceStore.mutations.deleteItem(currentItem.id);
  }

  window.location.hash = '#/';
  deviceStore.state.value.updateList = true;

  setTimeout(() => {
    modalStore.mutations.close(true);
  }, 300)
}

onMounted(() => {
  setTimeout(() => {
    if (buttonCancel.value && buttonCancel.value.$el) {
      buttonCancel.value.$el.focus()
    }
  }, 300);

  if (buttonRemove.value && buttonRemove.value.$el) {
    buttonRemove.value.$el.addEventListener('keydown', (event: KeyboardEvent) => {
      const code = event.key || event.code;
      if (code === KeyCodeEnum.TAB && event.shiftKey || code === KeyCodeEnum.ARROW_UP) {
        event.preventDefault();
        if (buttonCancel.value && buttonCancel.value.$el) {
          buttonCancel.value.$el.focus();
        }
      }
    });
  }
});
</script>

<template>
  <div id="container" class="flex justify-center">
    <div class="flex-1 w-[45vw] text-[5vh] font-co-text-bold">
      {{ $t('removeDevice') }}
    </div>
    <div class="flex-none pl-[8vw]">
      <div class="inline-block">
        <div class="w-full">
          <DefaultButton
              ref="buttonRemove"
              @click="removeDevice"
              :label="$t('buttonRemove')"
              stretch
              margin="my-[1.5vh] mx-[2vh]"
          />
        </div>

        <div class="w-full">
          <DefaultButton
              ref="buttonCancel"
              @click="modalStore.mutations.close()"
              :label="$t('buttonCancel')"
              stretch
              theme="secondary"
              margin="my-[1vh] mx-[2vh]"
          />
        </div>
      </div>
    </div>
  </div>
</template>