<script setup lang="ts">
import {defineProps, defineEmits, onMounted, withDefaults} from 'vue';
import {DevicesEnum} from '@/enum/devices.enum';
import {DeviceItemProps} from '@/types/DevicesItem';

const emit = defineEmits(['mounted']);

const props = withDefaults(defineProps<DeviceItemProps>(), {
  selectedItem: false,
  itemsOnScreen: false,
});

onMounted(() => {
  emit('mounted');
});
</script>

<template>
  <div :class="{'scale-[1.1]': props.selectedItem, 'opacity-50': !props.itemsOnScreen}"
       class="w-[22vw] transition ease-in-out duration-1000 delay-100 py-[1.5vh] px-[1.1vw] inline-block align-middle">
    <div
        :class="{'border-white': props.selectedItem}"
        class="flex items-center justify-center bg-[#1A1A1A] rounded overflow-hidden transition ease-in-out duration-1000 delay-100 border-2 border-[#1A1A1A] h-[20vh] relative">
      <img
          v-if="props.iconType !== DevicesEnum.ADD && props.data && props.data.deviceType !== DevicesEnum.STB && props.data && props.data.deviceType !== DevicesEnum.SMART_TV"
          :class="{'opacity-100': props.selectedItem}"
          class="block absolute right-3 top-3 transition ease-in-out duration-1000 delay-100 opacity-0"
          src="@/assets/icons/icon-edit.svg"
          alt=""
      >
      <img
          :src="require(`@/assets/icons/icon-${props.data && props.data.deviceType || props.iconType}.svg`)"
          alt=""
          class="block"
      >
    </div>
    <div class="mt-[1vh] whitespace-normal">
      <div class="text-[2.5vh]">
        {{ props.data && props.data.label || props.label }}
      </div>
      <div class="text-[1.8vh] mt-[0.5vh] h-[3vh] font-co-text">
        <div v-if="props.data">
          {{ $t('deviceAdded') }}: {{ props.data && props.data.createdAt }}
        </div>
      </div>
    </div>
  </div>
</template>