<script setup lang="ts">
import {ref, defineProps, defineEmits, watch, onMounted, withDefaults} from 'vue';
import DeviceItem from '@/components/DevicesCarousel/DeviceItem.vue';
import type {ComponentPublicInstance} from 'vue';
import LoadingSpinner from '@/components/Common/LoadingSpinner.vue';
import {KeyCodeEnum} from '@/enum/keyCode.enum';
import LimitDevice from '@/components/Modals/LimitDevice.vue';
import {DevicesEnum} from '@/enum/devices.enum';
import {useDevices} from '@/store/devices';
import {useModal} from '@/store/modal';
import {useNotification} from '@/store/notification';
import {useKeyHandler} from '@/utils/keyboardControl';
import {translate} from '@/utils/localization';
import {DeviceListProps} from '@/types/DeviceList';

const props = withDefaults(defineProps<DeviceListProps>(), {
  isActive: false,
  addItems: false,
});

const emit = defineEmits(['focusChanged']);

const checkFocus = () => {
  emit('focusChanged');
}

const modalStore = useModal();
const deviceStore = useDevices();

const { lastPressedKey, timeStamp } = useKeyHandler();

const deviceItem = ref<Array<ComponentPublicInstance>>([]);
const deviceList = ref<HTMLDivElement | null>(null);
const activeDeviceList = ref<HTMLDivElement | null>(null);
const translateXValue = ref<number>(0);
const currentIndex = ref<number>(0);
const itemsOnScreen = ref<number>(4);
const disabledCarousel = ref<boolean>(false);

const getDeviceItemWidth = () => {
  if (deviceItem.value.length && deviceItem.value[0]) {
    return deviceItem.value[0].$el.clientWidth;
  }
}

const setTransform = (translateValue: number) => {
  if (deviceList.value) {
    deviceList.value.setAttribute('style', `transform: translateX(${(translateValue).toString()}px); will-change: transform;`);
  }
}

const setCurrentTransformPosition = () => {
  const currentItem = deviceStore.getters.getCurrentItem();
  setTimeout(() => {
    if (currentItem && props.items && props.items.length && props.isActive) {
      const itemId = currentItem.id;

      currentIndex.value = props.addItems ? deviceStore.mutations.findIndexById(itemId) - 1 : deviceStore.mutations.findIndexById(itemId) + 1;
      translateXValue.value = getDeviceItemWidth() * currentIndex.value * -1;

      setTransform(translateXValue.value);
    }
  }, 256);
}

const nextItem = () => {
  if (currentIndex.value < (props.addItems ? props.items.length : props.items.length - 1) && props.isActive && deviceItem.value.length) {
    currentIndex.value++;
    translateXValue.value = getDeviceItemWidth() * currentIndex.value * -1;
    setTransform(translateXValue.value);
  }
}

const prevItem = () => {
  if (currentIndex.value > 0 && props.isActive && deviceItem.value.length) {
    currentIndex.value--;
    translateXValue.value = translateXValue.value + getDeviceItemWidth();
    setTransform(translateXValue.value);
  }
}

const notificationStore = useNotification();

const handleKeyChange = () => {
  if (disabledCarousel.value) return;
  if (lastPressedKey.value === KeyCodeEnum.ARROW_LEFT) {
    prevItem()
  } else if (lastPressedKey.value === KeyCodeEnum.ARROW_RIGHT) {
    nextItem()
  } else if (lastPressedKey.value === KeyCodeEnum.ENTER) {
    if (!props.isActive) return;

    if (props.addItems && currentIndex.value >= 0) {
      currentIndex.value--;
    }

    if (props.items[currentIndex.value] !== undefined) {
      deviceStore.state.value.selectedDeviceId = props.items[currentIndex.value].id;

      const currentItem = deviceStore.getters.getCurrentItem();

      if (currentItem) {
        if (currentItem.deviceType === DevicesEnum.STB || currentItem.deviceType === DevicesEnum.SMART_TV) {
          notificationStore.mutations.showNotification(translate('deviceNotEdited'));
        } else {
          window.location.hash = '#/editdevice';
        }
      }
    } else {
      currentIndex.value = 0;
      if (props.items.length > 4) {
        modalStore.mutations.open(LimitDevice);
      } else {
        window.location.hash = '#/addnewdevice';
      }
    }
  }
};

watch(timeStamp, () => {
  handleKeyChange();
});

watch(modalStore.state.value, () => {
  disabledCarousel.value = modalStore.state.value.isOpen;
  if (!modalStore.state.value.isOpen && activeDeviceList.value && props.isActive) {
    activeDeviceList.value.focus();
  }
});

onMounted(() => {
  if (modalStore.state.value.removedItem) {
    notificationStore.mutations.showNotification(translate('successfulRemoval'))
    modalStore.state.value.removedItem = false;
  }

  if (deviceStore.state.value.updatedItem) {
    notificationStore.mutations.showNotification(translate('successfulEdit'))
    deviceStore.state.value.updatedItem = false;
  }
});
</script>

<template>
  <div ref="activeDeviceList" @focusin="checkFocus" tabindex="0" class="relative outline-0">
    <div v-if="props.items && currentIndex <= props.items.length - itemsOnScreen" class="absolute top-[3vh] right-0 w-[5vw] h-[20vh] flex items-center justify-center pl-[1vw] z-50">
      <img src="@/assets/icons/icon-arrow.svg" alt="">
    </div>
    <div ref="deviceList" class="whitespace-nowrap ps-[6.875vw] pb-[3vh] pt-[1vh] pr-[1.5vw] transition ease-in-out duration-1000">
      <DeviceItem
          v-if="props.addItems"
          :selected-item="props.isActive && currentIndex === 0"
          :key="0"
          :label="$t('addDevice')"
          icon-type="add"
          :items-on-screen="0 >= currentIndex && 0 < currentIndex + itemsOnScreen"
      />

      <template v-if="!deviceStore.state.value.isLoading">
        <DeviceItem
            v-for="(item, index) in props.items"
            :key="index + (props.addItems ? 1 : 0)"
            :selected-item="props.isActive && currentIndex === index + (props.addItems ? 1 : 0)"
            :items-on-screen="index + (props.addItems ? 1 : 0) >= currentIndex && index + (props.addItems ? 1 : 0) < currentIndex + itemsOnScreen"
            :data="item"
            :ref="el => deviceItem.push(el)"
            @mounted="setCurrentTransformPosition"
        />
      </template>
      <LoadingSpinner v-else />
    </div>
  </div>
</template>

<style>
.ps-\[6\.875vw\] {
  padding-left: 6.875vw;
}
.ps-\[7\.3vw\] {
  padding-left: 7.3vw;
}
</style>