<script setup lang="ts">
import {ref, onMounted, nextTick, watch} from 'vue';
import DevicesList from '@/components/DevicesCarousel/DevicesList.vue';
import type {DevicesModel} from '@/types/Devices.model';
import type {ComponentPublicInstance} from 'vue';
import {useDevices} from '@/store/devices';
import LanguageSwitcher from '@/components/Common/LanguageSwitcher.vue';

const deviceStore = useDevices();
if (deviceStore.state.value.updateList && deviceStore.state.value.casId) {
  deviceStore.mutations.fetchDevices(deviceStore.state.value);
}

const devicesContainer1 = ref<ComponentPublicInstance | null>(null);
const devicesContainer2 = ref<ComponentPublicInstance | null>(null);
const activeList = ref<string | null>(null);
const mutableList = ref<DevicesModel[]>([]);
const notMutableList = ref<DevicesModel[]>([]);

mutableList.value = deviceStore.getters.getMutableList();
notMutableList.value = deviceStore.getters.getNotMutableList();

const handleFocusChanged = (listName: string) => {
  activeList.value = listName;
}

onMounted(() => {
  nextTick(() => {
    if (devicesContainer1.value && devicesContainer1.value.$el) {
      devicesContainer1.value.$el.focus();
    }
  });
});

watch(deviceStore.state.value, () => {
  mutableList.value = deviceStore.getters.getMutableList();
  notMutableList.value = deviceStore.getters.getNotMutableList();
});
</script>

<template>
  <div class="w-100 h-screen flex flex-col justify-center">
    <LanguageSwitcher ref="languageSwitcher" @focusChanged="handleFocusChanged('languageSwitcher')" />
    <div class="font-co-text-bold w-full overflow-hidden">
      <div class="drop-shadow-2xl text-[4vh] ps-[7.3vw]">
        {{ $t('handlingOfDevices') }}
      </div>

      <DevicesList
          ref="devicesContainer1"
          :is-active="activeList === 'devicesContainer1'"
          :items="mutableList"
          @focusChanged="handleFocusChanged('devicesContainer1')"
          add-items
      />
    </div>

    <div class="font-co-text-bold w-full overflow-hidden">
      <div class="drop-shadow-2xl text-[4vh] ps-[7.3vw]">
        {{ $t('devices') }}
      </div>

      <DevicesList
          ref="devicesContainer2"
          :is-active="activeList === 'devicesContainer2'"
          :items="notMutableList"
          @focusChanged="handleFocusChanged('devicesContainer2')"
      />
    </div>
  </div>
</template>