<script setup lang="ts">
import {ref, onMounted, onBeforeMount, watch, defineProps, defineEmits } from 'vue';
import Keyboard from 'simple-keyboard';
import keyNavigation from '@/utils/keyNavigation';
import {KeyCodeEnum} from '@/enum/keyCode.enum';
import {translate} from '@/utils/localization';

interface SimpleKeyboardProps {
  input: string
}

const props = defineProps<SimpleKeyboardProps>()

const emit = defineEmits(['onChange', 'onKeyPress']);

const keyboard = ref<any>(null);
const previousLayout = ref<string>('default');

const buttonReady = ref<string | ''>(translate('buttonReady'));

onMounted(() => {
  keyboard.value = new Keyboard({
    onChange: onChange,
    onKeyPress: button => onKeyPress(button),
    useMouseEvents: true,
    enableKeyNavigation: true,
    stopMouseDownPropagation: true,
    modules: [keyNavigation],
    theme: 'sg-theme',
    layout: {
      default: [
        'a á b c d e é f g h i í j k l m n o ó ö ő p q',
        'r s t u ú ü ű v w x y z 1 2 3 4 5 6 7 8 9 0',
        '{bksp} {shift} {space} {done}'
      ],
      shift: [
        'A Á B C D E É F G H I Í J K L M N O Ó Ö Ő P Q R',
        'S T U Ú Ü Ű V W X Y Z 1 2 3 4 5 6 7 8 9 0',
        '{bksp} {shift} {space} {done}'
      ],
      symbols: [
        '! @ # $ % ^ & * ( )',
        '` \\ / ; \' , . + { }',
        '~ ? : " < > - = [ ]',
        '_ | é ñ ç ü {space} {bksp}',
        '{shift} {symbols} {cancel} {enter}'
      ]
    },
    display: {
      '{enter}': 'Connect',
      '{space}': 'Space',
      '{cancel}': 'Cancel',
      '{shift}': "ABC",
      '{symbols}': '#+=',
      '{bksp}': '⌫',
      '{done}': buttonReady.value
    },
    buttonTheme: [
      {
        class: 'sg-back',
        buttons: '{bksp}'
      },
      {
        class: 'sg-four',
        buttons: '{enter} {cancel}'
      }
    ]
  });
  keyboard.value.modules.keyNavigation.setMarker(2,0);
  keyboard.value.setInput(props.input);
  document.addEventListener('keydown', handleKeys);
});

onBeforeMount(() => {
  document.removeEventListener('keydown', handleKeys);
});

const onChange = (input: any) => {
  emit('onChange', input);
}

const onKeyPress = (button: string) => {
  console.log('onKeyPress', button);
  emit('onKeyPress', button);

  if (button === '{shift}') handleShift();
  if (button === '{symbols}') handleSymbols();
}

const handleKeys = (event: KeyboardEvent) => {
  const code = event.code || event.key;
  switch (code) {
    case KeyCodeEnum.ARROW_UP:
      keyboard.value.modules.keyNavigation.up();
      break;
    case KeyCodeEnum.ARROW_DOWN:
      keyboard.value.modules.keyNavigation.down();
      break;
    case KeyCodeEnum.ARROW_LEFT:
      keyboard.value.modules.keyNavigation.left();
      break;
    case KeyCodeEnum.ARROW_RIGHT:
      keyboard.value.modules.keyNavigation.right();
      break;
    case KeyCodeEnum.ENTER:
      keyboard.value.modules.keyNavigation.press();
      break;
    default:
      return;
  }
}

const handleShift = () => {
  let currentLayout = keyboard.value.options.layoutName;
  let shiftText = currentLayout === 'default' ? 'abc' : 'ABC';
  let shiftToggle = currentLayout === 'default' ? 'shift' : 'default';
  previousLayout.value = currentLayout;

  keyboard.value.setOptions({
    layoutName: shiftToggle,
    display: {
      '{enter}': 'Connect',
      '{space}': 'Space',
      '{cancel}': 'Cancel',
      '{shift}': shiftText,
      '{symbols}': '#+=',
      '{bksp}': '⌫',
      '{done}': buttonReady.value
    }
  });
}

const handleSymbols = () => {
  let currentLayout = keyboard.value.options.layoutName;
  let shiftToggle = currentLayout !== 'symbols' ? 'symbols' : previousLayout.value;
  previousLayout.value = currentLayout;

  keyboard.value.setOptions({
    layoutName: shiftToggle
  });
}

watch(() => props.input, (newInput) => {
  console.log('newInput', newInput);
  keyboard.value.setInput(newInput);
});
</script>

<template>
  <div class="simple-keyboard" />
</template>

<style lang="css">
.simple-keyboard.sg-theme {
  @apply text-[2.5vh] mb-3 text-white
}

.hg-button {
  @apply h-[5vh] flex items-center justify-center w-[calc(100%/6)] px-[1vw]
}

.hg-button.hg-standardBtn.hg-keyMarker,
.hg-button.hg-functionBtn.sg-back.hg-keyMarker {
  background-color: #FFFFFF;
  color: #1A1A1A;
}

.hg-button.hg-functionBtn {
  @apply border-2 border-white rounded-[3vh] px-[2vw] mx-[0.5vw] w-auto
}

.hg-button.hg-functionBtn.hg-keyMarker {
  background-color: #29D3CE;
  border-color: #29D3CE;
  color: #FFFFFF;
}

.hg-button.hg-functionBtn.sg-back {
  @apply border-0 rounded-none mx-1 px-[1vw] w-auto
}

.hg-button.hg-functionBtn.sg-back span {
  @apply flex h-full items-center
}

.hg-row {
  @apply flex justify-center my-2
}

.hg-button.hg-button-bksp {
  background: url('~@/assets/icons/icon-backspace.svg') no-repeat center / 74%;
}
.hg-button.hg-button-bksp.hg-keyMarker {
  background-image: url('~@/assets/icons/icon-backspace-focus.svg');
}
.hg-button.hg-button-bksp span {
  color: transparent;
}
</style>