<script setup lang="ts">
import {computed, defineProps, withDefaults} from 'vue';
import {DefaultButtonsProps} from '@/types/DefaultButtons';

const props = withDefaults(defineProps<DefaultButtonsProps>(), {
  uppercase:  false,
  size: 'p-[1.5vh_4vw]',
  margin: 'm-[2vh]',
  stretch: false,
  theme:  'primary'
})

const checkTag = computed(() => {
  return props.href ? 'a' : 'button';
});
</script>

<template>
  <component
      :is="checkTag"
      :href="props.href"
      :class="{[`${props.theme}`]: props.theme, 'uppercase': props.uppercase, 'w-full': stretch, [`${props.size}`]: props.size, [`${props.margin}`]: props.margin}"
      class="btn inline-block text-center text-[2.5vh] font-co-text rounded-[3.5vw] min-w-[15vw] outline-0 transition duration-300 font-bold border-2"
  >
    <slot>
      {{ props.label }}
    </slot>
  </component>
</template>

<style lang="css" scoped>
.btn:focus {
  -webkit-box-shadow: 0 0 0.25vw 0.075vw #fff, 0 0 0.9vw 0.9vw hsla(0, 0%, 100%, .25);
  box-shadow: 0 0 0.25vw 0.075vw #fff, 0 0 0.9vw 0.9vw hsla(0, 0%, 100%, .25);
}
.primary {
  background-color: #29D3CE;
  color: #1A1A1A;
  border-color: #29D3CE;
}
.secondary {
  background-color: transparent;
  color: #FFFFFF;
}
.secondary:focus {
  background-color: rgba(238, 238, 238, 0.10);
}
</style>
