<script setup lang="ts">
import {defineEmits, ref} from 'vue';
import {setLanguage} from '@/utils/localization';
import DefaultButton from '@/components/Common/DefaultButton.vue';

interface Language {
  value: string;
}

const localizations: Record<string, Language> = {
  hu: { value: 'hu' },
  en: { value: 'en' },
};

const language = ref(window.localStorage.getItem('language') as string);

if (!language.value) {
  window.localStorage.setItem('language', localizations.hu.value);
}

if (window.localStorage.getItem('language')) {
  setLanguage(window.localStorage.getItem('language') as string);
}

const emit = defineEmits(['focusChanged']);

const checkFocus = () => {
  emit('focusChanged');
}

const changeLanguage = () => {
  language.value = language.value === localizations.hu.value ? localizations.en.value : localizations.hu.value;

  window.localStorage.setItem('language', language.value);
  setLanguage(language.value);
}
</script>

<template>
  <div class="language-switcher fixed top-0 right-0">
    <DefaultButton
        @click="changeLanguage"
        @focus="checkFocus"
        :label="$t('lang')"
        theme="secondary"
        uppercase
        size="p-2 !min-w-0 text-xs w-[42px] h-[42px]"
    />
  </div>
</template>