<template>
  <div class="inline-flex align-top h-[23vh] w-[22vw] items-center justify-center mb-[8.3vh]">
    <img src="@/assets/icons/icon-spinner.png" alt="" class="w-[48px] h-[48px] animate-spin">
  </div>
</template>