<script setup lang="ts">
import {reactive, toRefs} from 'vue';
import {Modal, useModal} from '@/store/modal';

const modalStore = useModal();
const model = reactive({});

const { isOpen, view } = toRefs<Modal>(modalStore.state.value);
</script>

<template>
  <Transition
      enter-from-class="opacity-0"
      leave-to-class="opacity-0"
      enter-active-class="transition duration-300"
      leave-active-class="transition duration-300">
    <div v-if="isOpen">
      <div class="fixed w-full h-full left-0 top-0 bg-[rgba(0,0,0,0.9)] flex items-center justify-center z-[99]">
        <component :is="view" v-model="model" />
      </div>
    </div>
  </Transition>
</template>