<script setup lang="ts">
import {watch, ref} from 'vue';
import {useNotification} from '@/store/notification';

const notificationStore = useNotification();

const timeoutDuration = ref<number>(1500);
const timer = ref<number>(0);

watch(() => notificationStore.state.value.timeStamp, (newValue) => {
  if (newValue) {
    if (timer.value) {
      clearTimeout(timer.value);
    }

    timer.value = setTimeout(() => {
      notificationStore.state.value.show = false;
    }, timeoutDuration.value);
  }
});
</script>

<template>
  <transition
      mode="out-in"
      enter-from-class="opacity-0"
      leave-to-class="opacity-0"
      enter-active-class="transition duration-500"
      leave-active-class="transition duration-500">
    <div v-if="notificationStore.state.value.show" class="notification fixed left-1/2 bottom-0 rounded-md py-3 px-4 mb-[3vh] min-w-[30vw] text-[2vh] flex items-center">
      <img src="@/assets/icons/icon-info.svg" alt="" class="me-2 w-[3vh]">
      {{ notificationStore.state.value.title }}
    </div>
  </transition>
</template>

<style lang="css" scoped>
.notification {
  background-color: #1A1A1A;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.me-2 {
  margin-right: 0.5rem;
}
</style>