<script setup lang="ts">
import {onMounted, ref} from 'vue';
import type {ComponentPublicInstance} from 'vue';
import DefaultButton from '@/components/Common/DefaultButton.vue';
import QrcodeVue from 'qrcode.vue';
import {useDevices} from '@/store/devices';
import deviceItems from '@/assets/data/deviceItems';

const deviceStore = useDevices();
deviceStore.state.value.updateList = true;

const addDevice = (id: string) => {
  const item = deviceItems.find(item => item.id === id);
  if (item) {
    deviceStore.mutations.addItem(item);
    deviceStore.state.value.editedItem = true;
  }
}

const buttonBack = ref<ComponentPublicInstance | null>(null);

onMounted(() => {
  setTimeout(() => {
    if (buttonBack.value && buttonBack.value.$el) {
      buttonBack.value.$el.focus()
    }

    deviceStore.state.value.selectedDeviceId = '';
  }, 300)
});

const value = ref('https://google.com');
</script>

<template>
  <div class="flex w-screen h-screen items-center justify-center">
    <div class="flex">
      <div class="flex-1 w-[45vw]">
        <div class="text-[6vh] font-co-text-bold mb-[3vh]">
          {{ $t('addDevice') }}
        </div>

        <p class="text-[3vh]">{{ $t('addDeviceDescription') }}</p>

        <DefaultButton
            ref="buttonBack"
            href="#/"
            :label="$t('buttonBack')"
            class="ml-0 mt-[8vh]"
        />
      </div>
      <div class="flex-none pl-[10vw]">
        <qrcode-vue :value="value" level="L" render-as="svg" :size="300" class="!h-[30vh] !w-auto border-[1rem] border-[#fff] rounded-md" />

        <div class="flex align-middle">
          <DefaultButton
              @click="addDevice('2')"
              theme="secondary"
              size="p-2 !min-w-min my-4 mx-1"
          >
            <div class="w-7 h-7 flex items-center justify-center">
              <img src="@/assets/icons/icon-desktop.svg" alt="" width="30">
            </div>
          </DefaultButton>
          <DefaultButton
              @click="addDevice('4')"
              theme="secondary"
              size="p-2 !min-w-min my-4 mx-1"
          >
            <div class="w-7 h-7 flex items-center justify-center">
              <img src="@/assets/icons/icon-tablet.svg" alt="" width="30">
            </div>
          </DefaultButton>
          <DefaultButton
              @click="addDevice('5')"
              theme="secondary"
              size="p-2 !min-w-min my-4 mx-1"
          >
            <div class="w-7 h-7 flex items-center justify-center">
              <img src="@/assets/icons/icon-mobile.svg" alt="" width="30">
            </div>
          </DefaultButton>
          <DefaultButton
              @click="addDevice('6')"
              theme="secondary"
              size="p-2 !min-w-min my-4 mx-1"
          >
            <div class="w-7 h-7 flex items-center justify-center">
              <img src="@/assets/icons/icon-tablet.svg" alt="" width="30">
            </div>
          </DefaultButton>
          <DefaultButton
              @click="addDevice('7')"
              theme="secondary"
              size="p-2 !min-w-min my-4 mx-1"
          >
            <div class="w-7 h-7 flex items-center justify-center">
              <img src="@/assets/icons/icon-mobile.svg" alt="" width="30">
            </div>
          </DefaultButton>
        </div>
      </div>
    </div>
  </div>
</template>
