<script setup lang="ts">
import {ref, computed, onMounted} from 'vue';
import Splash from './views/Splash/index.vue';
import Home from './views/index.vue';
import AddNewDevice from './views/AddNewDevice/index.vue';
import EditDevice from './views/EditDevice/index.vue';
import Notification from '@/components/Common/Notification.vue';
import Modal from '@/components/Common/Modal.vue';
import GenericError from '@/components/Modals/GenericError.vue';
import {useModal} from '@/store/modal';
import {useDevices} from '@/store/devices';

interface Route {
  component: typeof Home;
}

const routes: Record<string, Route> = {
  '/': { component: Home },
  '/addnewdevice': { component: AddNewDevice },
  '/editdevice': { component: EditDevice },
};

const deviceStore = useDevices();
const currentPath = ref<any>(window.location.hash);
const casId = ref<string>('123456891'); // @TODO remove test value
const splashScreen = ref<boolean>(true);

window.addEventListener('hashchange', () => {
  currentPath.value = window.location.hash;
});

const currentView = computed(() => {
  return currentPath.value ? routes[currentPath.value.slice(1)].component : Home;
})

// get casId from STB
const ws = new WebSocket('ws://127.0.0.1:1979', 'lws-bidirectional-protocol');
ws.onopen = () => {
  ws.send('{ "jsonrpc": "2.0", "method": "casware.getSystemInfo", "id": 1 }')
}

ws.onmessage = (message) => {
  casId.value = JSON.parse(message.data).result;
  if (casId.value) {
    casId.value = JSON.parse(message.data).result.SystemInfo.NagraConnect.IRDSN.replace(/ /g,'');
  }
}

const modalStore = useModal();

onMounted(() => {
  setTimeout(() => {
    splashScreen.value = false;

    if (!casId.value) {
      modalStore.mutations.open(GenericError);
    }
  }, 1500)

  deviceStore.state.value.casId = casId.value
})
</script>

<template>
  <div v-if="casId" class="casid fixed left-1/2 top-0 rounded-md p-3 mb-[3vh] w-[30vw] text-[2vh]">
    casId: {{ casId }}
  </div>

  <transition name="component-fade" mode="out-in">
    <Splash v-if="splashScreen" />
    <component v-else-if="!splashScreen && casId" :is="currentView" />
  </transition>

  <Notification />
  <Modal />
</template>

<style lang="css">
html {
  @apply min-h-full
}
body {
  @apply w-full h-full font-co-text
}
body {
  color: #EEEEEE;
  background: #000;
}

.component-fade-enter-active,
.component-fade-leave-active {
  transition: all .5s ease;
}
.component-fade-enter-from,
.component-fade-leave-to {
  opacity: 0;
  filter: blur(1rem);
  -webkit-filter: blur(1rem);
}
.casid {
  background-color: #1A1A1A;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-box-shadow: 0 0 0.25vw 0.075vw #fff, 0 0 0.9vw 0.9vw hsla(0, 0%, 100%, .25);
  box-shadow: 0 0 0.25vw 0.075vw #fff, 0 0 0.9vw 0.9vw hsla(0, 0%, 100%, .25);
}
</style>
