@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'CoText';
    src: url('~@/assets/fonts/Montserrat-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'CoTextBold';
    src: url('~@/assets/fonts/Montserrat-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'CoTextLight';
    src: url('~@/assets/fonts/Montserrat-Light.ttf') format('truetype');
}