<script setup lang="ts"></script>

<template>
  <Transition
    enter-from-class="opacity-0"
    leave-to-class="opacity-0"
    enter-active-class="transition duration-300"
    leave-active-class="transition duration-300">
    <div class="splash absolute start-0 top-0 w-screen h-screen flex items-center justify-center">
      <img src="@/assets/icons/icon-gear-big.svg" alt="" class="icon-gear-big relative -top-[20px]">
      <img src="@/assets/icons/icon-gear-small.svg" alt="" class="icon-gear-small relative top-[40px] -left-[10px] animate-spin">
    </div>
  </Transition>
</template>

<style scoped lang="css">
.splash {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.00) 100%), #29D3CE;
}
.icon-gear-big {
  animation: spin 5s linear infinite;
}
.icon-gear-small {
  animation: spin-reverse 5s linear infinite;
}

@keyframes spin-reverse {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
</style>